@media (min-width: 1440px){
  .dropdown-el {
    margin-left: 46px;
    width: 649px;
    position: relative;
    display: inline-block;
    margin-right: 45px;
    max-height: 76px;
    padding:23px 43px 21px 0px; 
    overflow: hidden;
    top: 0.5em;
    text-align: left;
    white-space: nowrap;
    outline: none;
    border: none;
    border-radius: 50px;
    background-color: rgba(16, 19, 58, 0.15);
    transition: 0.3s all ease-in-out;
  }
  .dropdown-el input:focus + label {
    background: #def;
  }
  .dropdown-el input {
    width: 1px;
    height: 1px;
    display: inline-block;
    position: absolute;
    opacity: 0.01;
  }
  .dropdown-el label {
    display: block !important;
    height: 41px;
    font-weight: 400;
    font-size: 30px !important;
    line-height: 41px !important;
    padding:23px 43px 21px 50px; 

    position: relative;
    transition: 0.3s color ease-in-out;
    margin-bottom: 15px; 
  }
  .dropdown-el label:nth-child(2) {
    margin-top: 60px;
    border-top: none;
  }
  .dropdown-el input:checked + label {
    display: block;
    border-top: none;
    position: absolute;
    top: 0;
    width: 100%;
  }
  .select_label{
    margin-top: 31px;
  }
  .dropdown-el input:checked + label:nth-child(2) {
    margin-top: -23px;
    position: relative;

  }
  .dropdown-el::after {
    content: url(../img/line1.svg);
    position: absolute;
    right: 43px;
    top: 27px;
    transition: 0.4s all ease-in-out;
  }
  .dropdown-el.expanded {
    padding: 0;
    background-color:  rgba(219, 220, 225, 1);
    border: 1px solid #000000;
    border-radius: 50px;
    max-height: fit-content;
    padding-bottom: 20px;
  }
  .dropdown-el.expanded label {
    border-top: none;
  }
  .dropdown-el.expanded label:hover {
    font-weight: 700;
  }
  .dropdown-el.expanded input:checked + label {
    font-weight: 700;
  }
  .dropdown-el.expanded::after {
    transform: rotate(-180deg);
    top: 19px;
  }
}
@media (min-width: 768px) and (max-width: 1439px) {

  .dropdown-el {
    margin-left: 10px;
    width: 512px;
    min-height: 66px;
    max-height: 66px;
    position: relative;
    display: inline-block;
    margin-right: 45px;
    padding:17px 23px 17px 0px; 
    overflow: hidden;
    right: 10px;

    text-align: left;
    white-space: nowrap;
    outline: none;
    border: none;
    border-radius: 50px;
    background-color: rgba(16, 19, 58, 0.15);
    transition: 0.3s all ease-in-out;
  }
  .dropdown-el input:focus + label {
    background: #def;
  }
  .dropdown-el input {
    width: 1px;
    height: 1px;
    display: inline-block;
    position: absolute;
    opacity: 0.01;
  }
  .select_label{
    margin-top: 20px;
  }
  .dropdown-el label {
    display: block !important;
    height: 41px;
    font-weight: 400;
font-size: 24px;
line-height: 33px;
    padding:23px 43px 21px 50px; 

    position: relative;
    transition: 0.3s color ease-in-out;
    margin-bottom: 15px; 
  }
  .dropdown-el label:nth-child(2) {
    margin-top: 60px;
    border-top: none;
  }
  .dropdown-el input:checked + label {
    display: block;
    border-top: none;
    position: absolute;
    top: 0;
    width: 100%;
  }
  .dropdown-el input:checked + label:nth-child(2) {
    margin-top: -23px;
    position: relative;

  }
  .dropdown-el::after {
    content: url(../img/lineipad.svg);
  
    position: absolute;
    right: 23px;
    top: 23px;
    transition: 0.4s all ease-in-out;
  }
  .dropdown-el.expanded {
    padding: 0;
    background-color:  rgba(219, 220, 225, 1);
    border: 1px solid #000000;
    border-radius: 30px;
    max-height: fit-content;
    padding-bottom: 20px;
  }
  .dropdown-el.expanded label {
    border-top: none;
  }
  .dropdown-el.expanded label:hover {
    font-weight: 700;
  }
  .dropdown-el.expanded input:checked + label {
    font-weight: 700;
  }
  .dropdown-el.expanded::after {
    transform: rotate(-180deg);
    top: 19px;
  }
}
@media (min-width: 375px) and (max-width: 767px) {
  .dropdown-el {
    margin-left: 16px;
    width: 249.93px;
    min-height: 48px;
    max-height: 48px;
    position: relative;
    display: inline-block;
    margin-right: 19px;
    padding:15px 23px 15px 0px; 
    overflow: hidden;
    right: 14px;

    text-align: left;
    white-space: nowrap;
    outline: none;
    border: none;
    border-radius: 50px;
    background-color: rgba(16, 19, 58, 0.15);
    transition: 0.3s all ease-in-out;
  }
  .dropdown-el input:focus + label {
    background: #def;
  }
  .dropdown-el input {
    width: 1px;
    height: 1px;
    display: inline-block;
    position: absolute;
    opacity: 0.01;
  }
  .select_label{
    margin-top: 10px;
  }
  .dropdown-el label {
    display: block !important;
    height: 18px;
    font-weight: 400;
    font-size: 13px;
    line-height: 18px;
    padding:15px 23px 15px 15px; 
 
    position: relative;
    transition: 0.3s color ease-in-out;
    margin-bottom: 15px; 
  }
  .dropdown-el label:nth-child(2) {
    margin-top: 39px;
    border-top: none;
  }
  .dropdown-el input:checked + label {
    display: block;
    border-top: none;
    position: absolute;
    top: 0;
    width: 100%;
  }
  .dropdown-el input:checked + label:nth-child(2) {
    margin-top: -15px;
    position: relative;

  }
  .dropdown-el::after {
    content: url(../img/line3.svg);
    position: absolute;
    right: 23px;
    top: 19px;
    transition: 0.4s all ease-in-out;
  }
  .dropdown-el.expanded {
    padding: 0;
    background-color:  rgba(219, 220, 225, 1);
    border: 1px solid #000000;
    border-radius: 20px;
    max-height: fit-content;
    padding-bottom: 11px;
  }
  .dropdown-el.expanded label {
    border-top: none;
  }
  .dropdown-el.expanded label:hover {
    font-weight: 700;
  }
  .dropdown-el.expanded input:checked + label {
    font-weight: 700;
  }
  .dropdown-el.expanded::after {
    transform: rotate(-180deg);
    top: 14px;
  }
}